// Oto Brglez - <otobrglez@gmail.com>

//= require_self

html, body
  margin: 0px
  padding: 0px

html
  background: image-url("bg.jpg") no-repeat center center
  min-height: 100%
  background-size: cover

body
  min-height: 100%

.centered
  position: fixed
  width: 500px
  top: 50%
  left: 50%
  margin-top: -100px
  margin-left: -250px
  text-align: center

  img
    display:block
    width: 300px
    height: 200px

.signup


  .email
    outline: none
    font-size: 15px
    padding: 10px
    width: 200px
    height: 25px
    background-color: rgba(215, 215, 215, 0.6)
    border: none
    border-radius: 5px
    -moz-border-radius: 5px
    -webkit-border-radius: 5px

  .email:focus
    background-color: rgba(215, 215, 215, 0.8)

  .email[placeholder]
    color: #5a5a5a

  .email::-webkit-input-placeholder
    color: #5a5a5a

  .email::-moz-placeholder
    color: #5a5a5a

  .email:-moz-placeholder
    color: #5a5a5a

  .email:-ms-input-placeholder
    color: #5a5a5a

  .btn
    font-size: 15px
    width: 100px
    height: 45px
    background-color: #48a5cc
    outline: none
    cursor: pointer
    color: #ffffff
    margin-left: 17px
    border: none
    border-radius: 5px
    -moz-border-radius: 5px
    -webkit-border-radius: 5px

  .btn:hover
    background-color: #32738e
